# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Josh\OneDrive\Documents\2UB Sophomore\hackathon\pythonBuffaloParkingUBHacking2020\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
